* {
    margin: 0;    
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    position: relative;
}

.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #003153;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 16px 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menuBtn {
    cursor: pointer;
    position: relative;
    width: 48px;
    height: 48px;
    top: 22px;
    right: 20px;
    display: none;
}

.menuBtn::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 36px;
    box-shadow: 0px 12px 0px white, 0px -12px 0px white;
    right: 0;
}

#menu_control {
    display: none;
}

.title {
    display: flex;
    font-size: 3rem;
    font-family: "Lobster", sans-serif;
    text-decoration: none;
    align-items: center;
}

.title a {
    display: block;
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav_item {
    display: flex;
    font-size: 1.2rem;
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    padding-right: 30px;
    text-decoration: none;
    align-items: center;
}

.nav_item a {
    display: block;
    color: white;
    text-decoration: none;
}

.ig_icon {
    width: 48px;
    height: 48px;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(home/home_cover.jpg);
    background-size: 100%;
    margin: 2% 10%;
}

.cover_img {
    padding-top: 2%;
    width: 60%;
    opacity: 0%;
}

.intro_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif TC", serif;
    font-weight: 800;
    font-size: 3rem;
    color: black;
    text-align: center;
    padding: 3rem;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 5rem 5rem 0;
}

.intro_img {
    display:flex;
    justify-content: center;
    align-items: center;
}

.self_img {
    border: solid white;
    width: 70%;
    border-radius: 50%;
}

.intro_word {
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 5rem;
}

.mobile {
    display: none;
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0px 160px 0px;
    background-image: url(home/works_cover.jpeg);
    background-position: center 95%;
    background-size: 100%;
}

.works_theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width:15%;
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 3rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.works_theme a {
    display: block;
    color: black;
    text-decoration: none;
}

.works {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
}

.theme_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

.theme_title p {
    display: block;
    color: black;
    text-decoration: none;
    padding-bottom: 50px;
}

.portraits {
    display: block;
    text-align: center;
    padding-top:100px;
    background-color: #ffffff;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    padding-bottom: 3rem;
}

.slide {
    max-height: 500px;
    position: relative;
    margin: auto;
}

.slide_a, .slide_b, .slide_c, .slide_d {
    display: none;
}

.a, .b {
    height: 100%;
    width: auto;
    max-height: 500px;
    object-fit: contain;
}

.slide a {
    display: block;
    color: rgba(0, 0, 0, 0.656);
    text-decoration: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(0, 0, 0, 0.656);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 15%;
    border-radius: 3px 3px 3px 3px;
}

.next {
    right: 15%;
    border-radius: 3px 3px 3px 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

.activity {
    background-color: #001625;
    padding: 3rem 0 5rem 0;
}

#activity {
    color: white;
}

.street {
    background-color: white;
    padding: 3rem 0;
}

#street {
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: dense;
    max-width: 100%;
    padding: 0 10rem;
    gap: 0.6rem;
}

.grid_item_straight {
    grid-row: span 2;
    grid-column: auto;
}

.grid_item, .grid_item_straight {
    width: 100%;
    height: 100%;
}

.grid_item img, .grid_item_straight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* RWD */
@media screen and (max-width: 768px) {
    header {
        height: 50px;
        padding: 16px 24px;
    }
    .title {
        font-size: 1.5rem;
    }
    .nav {
        position:absolute;
        flex-direction: column;
        padding: 50px 20px;
        background-color: rgba(0, 49, 83, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        top: 50px;
        width: 50%;
        height: calc(100vh - 50px);
        padding: 0px;
        right: -100%;
        transition: right 0.8s ease-in-out;
        z-index: 999;
    }
    .nav_item a {
        color: white;
        padding: 24px 32px;
        text-shadow: 0px 2px 4px rbga(0, 0, 0, 0.6);
    }
    .menuBtn {
        display: block;
        width: 20px;
        height: 20px;
        top: 11px;
        right: 3px;
    }

    .menuBtn::before {
        content: "";
        position: absolute;
        background-color: white;
        height: 2px;
        width: 28px;
        box-shadow: 0px 10px 0px white, 0px -10px 0px white;
        right: 0;
    }
    #menu_control:checked ~ .nav {
        right: 0px;
    }
    body {
        overflow-x: hidden;
    }
    .cover {
        width: 100%;
        margin: 0%;
    }
    .cover_img {
        padding-top: 0%;
        width: 100%;
    }
    .intro_title {
        font-size: 1.8rem;
        padding-bottom: 0;
    }
    .intro {
        justify-content: center;
        flex-direction: column;
        padding: 1.2rem;
    }
    .self_img {
        width:90%;
    }
    .intro_word {
        padding: 2rem 1rem;
        font-size: 0.8rem;
        margin-left: 0;
    }
    .intro_word p {
        margin: 0 0 1rem 0;
    }
    .web {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .theme {
        justify-content: center;
        flex-direction: column;
        padding: 40px 0px 40px 0px;
        background-position: 55% top;
        background-size: 190%;
        width: 100%;
    }
    .works_theme {
        width: 40%;
        font-family: "Noto Serif TC", serif;
        font-weight: bold;
        font-size: 1rem;
        color: black;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .theme_title {
        font-size: 2rem;
    }
    .portraits {
        padding-top: 60px;
    }
    #portraits, #activity, #street {
        font-size: 1.5rem;
        padding-bottom: 25px;
    }
    .topic {
        font-size: 1rem;
    }
    .slide {
        max-width: 90%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .a {
        height: 100%;
        width: auto;
        max-height: 350px;
        object-fit: contain;
    }
    .b {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .prev {
        left: 0px;
    }

    .next {
        right: 0px;
    }

    .grid {
        grid-template-columns: 50% 50%;
        padding: 0 3rem;
        gap: 0.3rem;
    }
}
